.button {
    cursor: pointer;
    border: 1px solid $color-gray;
    border-radius: 3px;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    transition: background-color .3s;

    &:hover {
        background-color: $color-gray;
    }
    
    .icon {
        height: 15px;
        width: 15px;
    }
}