.toolbar {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    height: $toolbar-height;
    border-bottom: 1px solid $color-gray;
    padding: 5px 40px;
    display: flex;
    align-items: center;

    .button + .button {
        margin-left: 10px;
    }
}