@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,700&display=swap');
@import "variables";
@import "mixins";

@import "base/layout";
@import "base/typography";

@import "components/text-field";
@import "components/button";

@import "modules/header";
@import "modules/formula";
@import "modules/table";
@import "modules/toolbar";
@import "modules/dashboard";

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: $font;
}

* {
    box-sizing: border-box;
}

.excel {

}